<h1>DreamSurvey</h1>

<p>DreamSurvey е иновативна платформа за създаване и попълване на анкети за предимно маркетингови или политически проучвания.
    Нашата цел е много проста, да предоставим на нашите клиенти максимално реалистични резултати, като поущряваме хората,
    който отделят от времето си за да ги попълнят. Подобни сайтове са широко разпространени по цял свят, но не и в България, което
    ни дава допълнителен стимул да се развиваме.
</p>

<h1>На какъв принцип работи платформата ни?</h1>
<p>
    Както всеки сайт е нужно да си направите регистрация и да влезете в акаунта си. Когато направите това,
    ще имате възможност да си изберете в кой от двата режима искате да се включите дали да направите анкета за ваше проучване,
    или искате да попълните съответно такава. Ако искате да направите проучване ще ви се отвори страница, в която
    ще можете да направите до 3 въпроса след, което всеки останал въпрос ще се доплаща допълнително към първоначалната цена. 
    Ако решите да попълвате анкети, ще ви се натрупват точки за всяка попълнена анкета, като в началото ще започнете от 0. 
    Когато съберете 1000 точки, ще можете да ги осребрите към вашата банкова сметка, чрез нейната карта. Всяка точка, която
    получавате се равнява на 1 стотинка. 
</p>