<!DOCTYPE html>
<html lang="en">
<head>
    
</head>
<body>
    <mat-toolbar color='primary'>
        <img class="logo" src="assets/images/logo.png" alt="logo"> <span class="navbar-item"> DreamSurvey </span>
    
        <div class="spacer"></div>
    
        <a mat-button routerLink="/">Начало</a>
        <a mat-button routerLink="/aboutus">За нас</a>
        <a mat-button routerLink="/contacts">Контакти</a>
        
            <a mat-button routerLink="/registration">Регистрация</a>
            <a mat-raised-button color="accent" routerLink="/login">Вход</a>
        
        
       
    </mat-toolbar>
</body>
</html>